main {
    width: 100vw;
    height: 100vh;
}

div#admin_page_container {
    max-width: 1080px;
}

div#informacion {
    color: black;
}

div#menu {
    color: white
}

button#boton_menu {
    margin-top: 20px;
    border: 0px;
    width: 120px;
    font-size: larger;
    font-weight: bold;
}

button.admin_menu_button {
    display: inline-block;
    height: 50px;
    border-radius: 0px;
}

div#paginacion>div>a:first-child,
div#paginacion>div>a:last-child {
    background-color: #ff6f00;
    color: white;
    border: 0px;
    font-weight: bold;
}

div#paginacion>div>a {
    border: #ff6f00 1px solid;
    color: #ff6f00;
    font-weight: bold;
}

div#paginacion>div>a:first-child:hover,
div#paginacion>div>a:last-child:hover {
    background-color: #ff6f00;
}

div#paginacion>div>a:hover {
    background-color: inherit;
}

#offcanvasWithBothOptions {
    width: fit-content;
    color: white;
}

span {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

form select {
    display: inline;
    max-width: 70px;
}

form input {
    width: 250px;
    max-width: 250px;
}