/*---------------NAVBAR---------------------*/

nav {
    width: 100vw;

}

nav>div {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

nav>div>div {
    height: 100%;
}

div#navbar_logo_container>img {
    margin-left: 50px;
}

div#navbar_links_container {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

div#navbar_links_container>div {
    margin-right: 15px;
    padding: 0px 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

div#navbar_links_container>div span {
    margin-right: 5px;
    padding-bottom: 5px;
}

div#navbar_links_container>div:hover {
    cursor: pointer;
}

/*----FORMULARIO -------------------------------------*/

main {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.formulario_container {
    height: fit-content;
    min-height: 70vh;
    width: 800px;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
}

div.formulario_container>div {
    height: 100;
    width: 50%;

}

div.formulario_imagen {
    overflow: hidden;
    background-image: url(../images/register-imge-temporal.jpg);
    background-size: cover;
    background-position-x: 90%;
    background-repeat: no-repeat;
}

div.formulario {
    background-color: rgb(243, 243, 243);
    padding: 25px;
    position: relative;
}


button.submit_button {
    margin-top: 10px;
    background-color: #ff6f00;
    font-weight: 600;
    width: 70%;
    border: none;
    letter-spacing: .7px;
}

button.submit_button:hover {
    background-color: #ff8325;
}

hr {
    margin: 5px 0px 15px 0px;
}

label.form-label {
    margin-bottom: 3px;
}

/*Estoy seleccionando desde el segundo label en adelante*/
label:nth-child(n+2) {
    margin-top: 10px;
}

input.form-control {
    max-width: 300px;
}

div#emailHelp {
    color: red;
}