.btn-logout {
  width: 100%;
  padding: 3px 20px;
  text-align: left;
}
.img-as-bg {
  height: 300px;
  overflow: hidden;
  background-image: url('../images/cvpdf.png');
  background-size: cover;
  background-position: center center;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 5px;
}


.card{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  height: 280px;
  width: 18rem;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}