.btn-logout {
  width: 100%;
  padding: 3px 20px;
  text-align: left;
}
.img-as-bg {
  height: 300px;
  overflow: hidden;
  background-image: url('../images/cvpdf.png');
  background-size: cover;
  background-position: center center;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 4px;
}


.card{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
