<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Último ingreso</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" *ngIf="usuarios.length > 0">
    <tr *ngFor="let usuario of usuarios">
      <th scope="row">{{ usuario.id }}</th>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.nombreUsuario }}</td>
      <td>{{ usuario.lastLogin }}</td>
      <td>
        <img
          src="assets/iconos/delete-icon.png"
          width="22px"
          alt="delete icon"
          (click)="eliminarUsuario(usuario.nombreUsuario)"
        />
        <img
          src="assets/iconos/visualize-icon.png"
          width="22px"
          (click)="detallesUsuario(usuario.nombreUsuario)"
          alt="eye icon"
        />
        <img
          src="assets/iconos/edit-icon.png"
          width="22px"
          alt="edit icon"
          (click)="editarRol(usuario.nombreUsuario)"
        />
      </td>
    </tr>
  </tbody>
</table>
