
<div class="container-fluid" id="autores">
  <div class="row">
    <div class="col hidden autor mt-5" id="autor1">
      <img class="fotos" src="../../../assets/JaumeIMG-modified.png"/>
      <p class="mt-2"><strong>Jaume Curto Castellví</strong></p>
      <p class="mt-2">Java FullStack Developer</p>
    </div>
    <div class="col hidden autor mt-5" id="autor2">
      <img class="fotos" src="../../../assets/cv_montana-modified.png" />
      <p class="mt-2"><strong>Juan Manuel de Senzi Yegro</strong></p>
      <p class="mt-2">Java FullStack Developer</p>
    </div>
    <div class="col hidden autor mt-5" id="autor3">
      <img class="fotos" src="./images/JaumeIMG.JPG" />
      <p class="mt-2"><strong>Abdelkarim Laaziz</strong></p>
      <p class="mt-2">Java FullStack Developer</p>
    </div>
  </div>
</div>
