<div id="autores">
  <div id="autor1">
    <img class="fotos" src="../../../assets/JaumeIMG-modified.png"/>
    <p>Jaume Curto Castellví</p>
    <p>Java FullStack Developer</p>
  </div>
  <div id="autor2">
    <img class="fotos" src="../../../assets/cv_montana-modified.png" />
    <p>Juan Manuel de Senzi Yegro</p>
    <p>Java FullStack Developer</p>
  </div>
  <div id="autor3">
    <img class="fotos" src="./images/JaumeIMG.JPG" />
    <p>Abdelkarim Laaziz</p>
    <p>Java FullStack Developer</p>
  </div>
</div>
