footer {
    background-color: rgb(104, 104, 104);
}

p {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.contenedor {
    max-width: 1080px;
}

span {
    font-size: .9rem;
}

.linkedins {
    border-bottom: 1px gray solid;
}