<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="/about-us" class="text-white">About us</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="#!" class="text-white">About us</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="#!" class="text-white">About us</a>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="https://www.t-systems.com/es/es" class="text-white">T-Systems</a>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: ShrimPDF
  </div>
</footer>
