<footer class="text-center text-white">
  <div class="container-fluid p-2 d-flex justify-content-center">
    <section>
      <div
        class="container-fluid contenedor d-flex justify-content-center align-items-center flex-wrap"
      >
        <!-- <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <a href="/about-us" class="text-white">About us</a>
        </div> -->
        <div class="mx-5 my-2">
          <a
            href="https://fundacionesplai.org/"
            target="_blank"
            class="text-white"
            ><img
              src="assets/esplai-logo.png"
              alt="Fundación Esplai logo"
              height="75px"
          /></a>
        </div>
        <div class="mx-5 my-2">
          <a href="https://techmabs.com/" class="text-white" target="_blank"
            ><img
              src="assets/techma-logo.png"
              alt="Techma business school logo"
              height="45px"
          /></a>
        </div>
        <div class="mx-5 my-2">
          <a
            href="https://www.t-systems.com/es/es"
            class="text-white"
            target="_blank"
            ><img
              src="assets/tsystems-logo.png"
              alt="T-Systems logo"
              height="40px"
          /></a>
        </div>
        <div class="mx-5 my-2">
          <a
            href="https://twitter.com/Dasare_"
            class="text-white fs-5"
            target="_blank"
            ><img src="assets/tw-logo.png" height="40px" alt="logo Twitter" />
            Artista</a
          >
        </div>
      </div>
    </section>
  </div>
  <div
    class="bg-dark container-fluid d-flex justify-content-evenly align-items-center flex-wrap py-2 linkedins"
  >
    <div class="my-2">
      <a href="https://www.linkedin.com/in/juanmanueldesenzi/" target="_blank">
        <img
          src="assets/linkedin-logo.png"
          height="25px"
          alt="linkedin logo"
          class="me-2 mb-1"
        />
        <span class="fs-5">Juan Manuel De Senzi</span>
      </a>
    </div>
    <div class="my-2">
      <a
        href="https://www.linkedin.com/in/jaumecurtocastellv%C3%AD/"
        target="_blank"
      >
        <img
          src="assets/linkedin-logo.png"
          height="25px"
          alt="linkedin logo"
          class="me-2 mb-1"
        />
        <span class="fs-5">Jaume Curto Castellví</span>
      </a>
    </div>
  </div>
  <div class="text-center p-1 bg-dark">
    <span>
      © 2022 Copyright: ShrimPDF<img
        src="favicon.ico"
        alt="ícono shrimPDF"
        height="20px"
        class="ms-1"
      />
    </span>
  </div>
</footer>
