div#navbar_container {
    max-width: 1380px;
}

.navbar_link:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer
}

nav.nav_bar {
    padding-right: 40px;
}

.menu_desplegable {
    position: absolute;
    right: 70px;
}

@media (max-width:600px) {
    nav.nav_bar {
        padding-right: 10px;
    }
}