<nav class="navbar navbar-expand-sm bg-light nav_bar">
  <div class="container" id="navbar_container">
    <a class="navbar-brand navbar_link mx-4" routerLink="/"
      ><img src="assets/logo.png" alt="logo shrimPDF" height="70px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle navbar_link"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="fs-5 me-1">{{ nombreUsuario }}</span>
            <img
              src="assets/iconos/register-icon.png"
              alt="login logo"
              width="20px"
              class="mb-1"
            />
          </a>
          <ul class="dropdown-menu menu_desplegable">
            <li><a class="dropdown-item" routerLink="/user">Mi cuenta</a></li>
            <li>
              <a class="dropdown-item" routerLink="/dashboard">Plantillas</a>
            </li>
            <!-- Esta se va a mostrar únicamente si el usuario es admin -->
            <li *ngIf="isAdmin">
              <a class="dropdown-item" routerLink="/admin">Sección admin</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
