main {
    min-height: 100vh;
    height: fit-content;
}

main>div {
    max-width: 1080px;
}

div.presentacion_container>* {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.formulario_container {
    background-color: white;
    max-width: 350px;
    border-radius: 20px;
}

label:nth-child(n+2) {
    margin-top: 10px;
}

input.form-control {
    max-width: 300px;
}

div#emailHelp {
    color: red;
}

hr {
    margin: 5px 0px 15px 0px;
}

label.form-label {
    margin-bottom: 3px;
}

button.submit_button:hover {
    background-color: #ff8325;
}

button.submit_button {
    margin-top: 20px;
    background-color: #ff6f00;
    font-weight: 600;
    border: none;
    letter-spacing: .7px;
}


a:hover {
    cursor: pointer
}

label {
    margin-top: 10px;
}

h3 {
    font-family: 'Libre Baskerville', serif;

}

@media (max-width:1000px) {
    main {
        padding-top: 50px;
    }
}

@media(max-width:370px) {
    img {
        width: 250px
    }

    div.formulario_container {
        width: 100%;
        margin: 30px 10px !important;
    }

}