.descargar_button {
    margin-left: 5px;
    background-color: #ed6f1a;
    color: white;
}
.descargar_guardar>div {
    padding: 0px
}

.descargar_guardar>div>button {
    width: 100%;
}

a {
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px;
    border: rgb(223, 223, 223) 1px solid;

    font-weight: bold;
    padding-left: 5px;
}

form {
    padding: 15px;
    border: rgb(223, 223, 223) 1px solid;
}

label {
    margin-bottom: 3px;
}
