<div class="container">
  <!------------------ DATOS (Falta imagen)  ----------------------->
  <form [formGroup]="datosForm" (submit)="guardarDatos()">
    <div class="row">
      <div class="col">
        <label class="form-label">Nombre y apellidos: </label>
        <input type="text" class="form-control" formControlName="nombre" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Ciudad y provincia: </label>
        <input type="text" class="form-control" formControlName="ciudad" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha de nacimiento: </label>
        <input type="text" class="form-control" formControlName="nacimiento" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Teléfono: </label>
        <input type="text" class="form-control" formControlName="telefono" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Email: </label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Presentación: </label>
        <textarea
          class="form-control"
          formControlName="presentacion"
          rows="4"
        ></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
  </form>

  <!----------- EXPERIENCIA LABORAL  ---------------->
  <form
    [formGroup]="nuevaExperienciaForm"
    class="mt-5"
    (submit)="guardarExperiencia()"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Empresa: </label>
        <input type="text" class="form-control" formControlName="empresa" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Localidad: </label>
        <input type="text" class="form-control" formControlName="localidad" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Descripción del puesto: </label>
        <textarea
          type="text"
          class="form-control"
          formControlName="descripcion"
          rows="3"
        >
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha inicio: </label>
        <input type="text" class="form-control" formControlName="inicio" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha fin: </label>
        <input type="text" class="form-control" formControlName="fin" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>

    <!-------- LISTA DE EXPERIENCIAS --------->
    <div class="container-fluid mt-2" formArrayName="experiencias">
      <div
        class="row"
        *ngFor="let experiencia of arrExperiencias.controls; let i = index"
      >
        {{ experiencia.get("empresa")?.value }}
        <button class="btn btn-danger" (click)="eliminarExperiencia(i)">
          Eliminar
        </button>
      </div>
    </div>
  </form>

  <!------------- ESTUDIOS  ----------------->
  <form
    [formGroup]="nuevosEstudiosForm"
    (submit)="guardarEstudios()"
    class="mt-5"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Título: </label>
        <input type="text" class="form-control" formControlName="titulo" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Establecimiento: </label>
        <input
          type="text"
          class="form-control"
          formControlName="establecimiento"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Descripción: </label>
        <input type="text" class="form-control" formControlName="descripcion" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Año: </label>
        <input type="text" class="form-control" formControlName="year" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>

    <!-------- LISTA DE ESTUDIOS --------->
    <div class="container-fluid mt-2" formArrayName="estudios">
      <div
        class="row"
        *ngFor="let estudios of arrEstudios.controls; let i = index"
      >
        {{ estudios.get("titulo")?.value }}
        <button class="btn btn-danger" (click)="eliminarEstudios(i)">
          Eliminar
        </button>
      </div>
    </div>
  </form>
</div>
