<div class="container">
  <!------------------ DATOS (Falta imagen)  ----------------------->
  <!-- Botón para ocultar y desocultar formulario -->
  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#datosPersonales"
    role="button"
    aria-expanded="false"
    aria-controls="datosPersonales"
    (click)="cambiarIcono()"
    >Datos Personales
    <img
      src="{{
        abajo
          ? 'assets/iconos/expandir-icon.png'
          : 'assets/iconos/arriba-icon.png'
      }}"
      alt="expand icon"
      width="20px"
  /></a>

  <form
    [formGroup]="datosForm"
    (submit)="guardarDatos()"
    class="collapse multi-collapse"
    id="datosPersonales"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Nombre y apellidos: </label>
        <input type="text" class="form-control" formControlName="nombre" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="form-label">Ciudad y provincia: </label>
        <input type="text" class="form-control" formControlName="ciudad" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha de nacimiento: </label>
        <input type="text" class="form-control" formControlName="nacimiento" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Teléfono: </label>
        <input type="text" class="form-control" formControlName="telefono" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Email: </label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Imagen: </label>
        <input
          type="file"
          class="form-control"
          formControlName="imagen"
          (change)="cargarImagen($event)"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Presentación: </label>
        <textarea
          class="form-control"
          formControlName="presentacion"
          rows="4"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <button
          class="btn btn-success me-2"
          (click)="limpiar('datos')"
          type="button"
        >
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>

  <!----------- EXPERIENCIA LABORAL  ---------------->
  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#experienciasLaborales"
    role="button"
    aria-expanded="false"
    aria-controls="experienciasLaborales"
    >Agregar Experiencia Laboral<img
      src="assets/iconos/expandir-icon.png"
      alt="expand icon"
      width="20px"
  /></a>
  <form
    [formGroup]="nuevaExperienciaForm"
    class="mt-5"
    (submit)="guardarExperiencia()"
    class="collapse multi-collapse"
    id="experienciasLaborales"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Empresa: </label>
        <input type="text" class="form-control" formControlName="empresa" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Localidad: </label>
        <input type="text" class="form-control" formControlName="localidad" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Descripción del puesto: </label>
        <textarea
          type="text"
          class="form-control"
          formControlName="descripcion"
          rows="3"
        >
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha inicio: </label>
        <input type="text" class="form-control" formControlName="inicio" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Fecha fin: </label>
        <input type="text" class="form-control" formControlName="fin" />
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <div class="">
          <button
            class="btn btn-success me-2"
            (click)="limpiar('experiencias')"
            type="button"
          >
            Limpiar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>

      <!-------- LISTA DE EXPERIENCIAS --------->
      <div class="container-fluid mt-2 p-0" formArrayName="experiencias">
        <div
          class="container-fluid p-0 d-flex justify-content-between dato_agregado"
          *ngFor="let experiencia of arrExperiencias.controls; let i = index"
        >
          <div class="d-flex align-items-center">
            <span class="ps-4 fw-semibold">
              {{ experiencia.get("empresa")?.value }}
            </span>
          </div>

          <button class="btn btn-danger" (click)="eliminarExperiencia(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!------------- ESTUDIOS  ----------------->
  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#estudios"
    role="button"
    aria-expanded="false"
    aria-controls="estudios"
    >Agregar Estudios
    <img src="assets/iconos/expandir-icon.png" alt="expand icon" width="20px"
  /></a>

  <form
    [formGroup]="nuevosEstudiosForm"
    (submit)="guardarEstudios()"
    class="mt-5"
    class="collapse multi-collapse"
    id="estudios"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Título: </label>
        <input type="text" class="form-control" formControlName="titulo" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Establecimiento: </label>
        <input
          type="text"
          class="form-control"
          formControlName="establecimiento"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Descripción: </label>
        <input type="text" class="form-control" formControlName="descripcion" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Año: </label>
        <input type="text" class="form-control" formControlName="year" />
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <button
          class="btn btn-success me-2"
          (click)="limpiar('estudios')"
          type="button"
        >
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

    <!-------- LISTA DE ESTUDIOS --------->
    <div class="container-fluid mt-2 p-0" formArrayName="estudios">
      <div
        class="container-fluid p-0 d-flex justify-content-between dato_agregado"
        *ngFor="let estudios of arrEstudios.controls; let i = index"
      >
        <div class="d-flex align-items-center">
          <span class="ps-4 fw-semibold">
            {{ estudios.get("titulo")?.value }}
          </span>
        </div>
        <div class="">
          <button class="btn btn-danger" (click)="eliminarEstudios(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!--------------- CONOCIMIENTOS TECNOLÓGICOS  --------------->

  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#conocimientosTeconologicos"
    role="button"
    aria-expanded="false"
    aria-controls="conocimientosTeconologicos"
    >Agregar Conocimientos Tecnológicos
    <img src="assets/iconos/expandir-icon.png" alt="expand icon" width="20px"
  /></a>
  <form
    [formGroup]="nuevoConocimientoForm"
    (submit)="guardarConocimiento()"
    class="collapse multi-collapse"
    id="conocimientosTeconologicos"
  >
    <div class="row">
      <div class="col">
        <label class="form-label"
          >Herramientas/Conocimientos tecnológicos:
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="conocimiento"
        />
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <button
          class="btn btn-success me-2"
          (click)="limpiar('conocimientos')"
          type="button"
        >
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

    <!-------- LISTA DE CONOCIMIENTOS --------->
    <div class="container-fluid mt-2 p-0" formArrayName="conocimientos">
      <div
        class="container-fluid p-0 d-flex justify-content-between dato_agregado"
        *ngFor="let conocimiento of arrConocimientos.controls; let i = index"
      >
        <div class="d-flex align-items-center">
          <span class="ps-4 fw-semibold">
            {{ conocimiento.get("conocimiento")?.value }}
          </span>
        </div>
        <div class="">
          <button class="btn btn-danger" (click)="eliminarConocimiento(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!----------------IDIOMAS  --------------------->
  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#idiomas"
    role="button"
    aria-expanded="false"
    aria-controls="idiomas"
    >Agregar Idiomas
    <img src="assets/iconos/expandir-icon.png" alt="expand icon" width="20px"
  /></a>
  <form
    (ngSubmit)="guardarIdioma()"
    [formGroup]="nuevoIdiomaForm"
    class="collapse multi-collapse"
    id="idiomas"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Idioma: </label>
        <input type="text" class="form-control" formControlName="idioma" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Nivel escrito: </label>
        <input type="text" class="form-control" formControlName="escrito" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="form-label">Nivel oral: </label>
        <input type="text" class="form-control" formControlName="oral" />
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <button
          class="btn btn-success me-2"
          (click)="limpiar('idiomas')"
          type="button"
        >
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

    <!-------- LISTA DE IDIOMAS --------->
    <div class="container-fluid mt-2 p-0" formArrayName="idiomas">
      <div
        class="container-fluid p-0 d-flex justify-content-between dato_agregado"
        *ngFor="let idioma of arrIdiomas.controls; let i = index"
      >
        <div class="d-flex align-items-center">
          <span class="ps-4 fw-semibold">
            {{ idioma.get("idioma")?.value }}
          </span>
        </div>
        <div class="">
          <button class="btn btn-danger" (click)="eliminarIdioma(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>

  <!---------------- OTROS DATOS DE INTERÉS  ------------------->
  <a
    class="btn text-start"
    data-bs-toggle="collapse"
    href="#datosInteres"
    role="button"
    aria-expanded="false"
    aria-controls="datosInteres"
    >Agregar Datos de interés
    <img src="assets/iconos/expandir-icon.png" alt="expand icon" width="20px"
  /></a>
  <form
    [formGroup]="datoInteresForm"
    (submit)="guardarDatoInteres()"
    class="collapse multi-collapse"
    id="datosInteres"
  >
    <div class="row">
      <div class="col">
        <label class="form-label">Dato de interés: </label>
        <input type="text" class="form-control" formControlName="dato" />
      </div>
    </div>
    <div class="row">
      <div class="rol text-end">
        <button
          class="btn btn-success me-2"
          (click)="limpiar('datosInteres')"
          type="button"
        >
          Limpiar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

    <!-------- LISTA DE DATOS DE INTERÉS --------->
    <div class="container-fluid mt-2 p-0" formArrayName="datosInteres">
      <div
        class="container-fluid p-0 d-flex justify-content-between dato_agregado"
        *ngFor="let dato of arrDatosInteres.controls; let i = index"
      >
        <div class="d-flex align-items-center">
          <span class="ps-4 fw-semibold">
            {{ dato.get("dato")?.value }}
          </span>
        </div>
        <div class="">
          <button class="btn btn-danger" (click)="eliminarDatoInteres(i)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-success w-100 mt-3 fw-semibold"
        (click)="guardarCV()"
      >
        Guardar
      </button>
      <button
        type="button"
        class="btn descargar_button w-100 mt-2 fw-semibold"
        (click)="generarPDF()"
      >
        Descargar PDF
      </button>
    </div>
  </div>
</div>
