<app-navbarLogueado></app-navbarLogueado>
<div class="container-fluid d-flex justify-content-center">
  <div class="card carta m-3 p-4 float-start">
    <img src="assets/createPlus.png" class="card-img-top" />
    <h5 class="card-title my-4 text-center">Nueva plantilla</h5>
    <!-- <div class="row h-100 d-flex align-items-end">
      <a class="btn btn-primary col mx-4 crear_plantilla">Crear nueva</a>
    </div> -->
  </div>
  <div class="card carta m-3 p-0 float-start">
    <img src="assets/cvpdf.png" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title mb-3">Nombre del archivo</h5>
      <div class="row">
        <a class="btn btn-warning col mx-4">Ver plantilla</a>
      </div>
    </div>
  </div>
  <div class="card carta m-3 p-0 float-start">
    <img src="assets/cvpdf.png" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title mb-3">Nombre del archivo</h5>
      <div class="row">
        <a class="btn btn-warning col mx-4">Ver plantilla</a>
      </div>
    </div>
  </div>
  <div class="card carta m-3 p-0 float-start">
    <img src="assets/cvpdf.png" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title mb-3">Nombre del archivo</h5>
      <div class="row">
        <a class="btn btn-warning col mx-4">Ver plantilla</a>
      </div>
    </div>
  </div>
</div>
