<div class="container-fluid mt-4 d-flex flex-wrap justify-content-center">
  <div class="card carta m-3 p-4 float-start" (click)="nuevaPlantilla()">
    <img src="assets/createPlus.png" class="card-img-top" />
    <h5 class="card-title my-4 text-center">Nueva plantilla</h5>
  </div>

  <!-------------- LISTA DE TARJETAS DE PLANTILLAS  ---------------->
  <div
    class="card carta m-3 p-0 float-start"
    *ngFor="let plantilla of plantillas"
    id="{{ plantilla.datos }}"
  >
    <img src="assets/cvpdf.png" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title mb-3">{{ plantilla.nombreArchivo }}</h5>
      <div class="row d-flex justify-content-center" *ngIf="plantilla.id">
        <a
          type="button"
          class="btn btn-warning col-5 me-2"
          (click)="abrirPlantilla(plantilla.id, plantilla.tipo)"
          >Ver plantilla</a
        >
        <button
          class="btn btn-danger col-5 fw-semibold"
          (click)="borrarPlantilla(plantilla.id)"
        >
          Borrar Plantilla
        </button>
      </div>
    </div>
  </div>
</div>
