<app-navbarLogueado></app-navbarLogueado>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ShrimPDF</a>
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse"
            id="bs-example-navbar-collapse-1"
          >
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <form>
              <button type="submit" class="btn btn-link btn-logout">
                Logout
              </button>
            </form>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
<div class="cards">
  <div class="card">
    <div
      class="img-as-bg"
      style="background-image: url('../images/createPlus.png')"
    ></div>
    <div class="card-body">
      <h5 class="card-title">Crear nueva plantilla</h5>
      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="img-as-bg"></div>
    <div class="card-body">
      <h5 class="card-title">Nom archiu</h5>
      <p class="card-text">Tipus de plantilla</p>
      <a href="#">Acceder</a>
    </div>
  </div>

  <div class="card">
    <div class="img-as-bg"></div>
    <div class="card-body">
      <h5 class="card-title">Nom archiu</h5>
      <p class="card-text">Tipus de plantilla</p>
      <a href="#">Acceder</a>
    </div>
  </div>
</div>
