<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="nombreUsuario" class="form-label">Nombre de usuario:</label>
  <input
    type="text"
    class="form-control"
    id="nombreUsuario"
    formControlName="nombreUsuario"
    aria-describedby="nombreUsuario-help"
  />

  <label for="password" class="form-label">Contraseña:</label>
  <input
    type="password"
    class="form-control"
    id="password"
    formControlName="contrasena"
  />

  <button type="submit" class="submit_button btn btn-primary w-100">
    Iniciar Sesión
  </button>
  <span
    class="form-text text-danger fw-bold w-100 text-center d-inline-block"
    *ngIf="loginInvalido"
    >Usuario y/o contraseña incorrecto/s</span
  >

  <div class="container-fluid text-center mt-3">
    <span class=""> ¿No tienes cuenta? </span>

    <a routerLink="/register" class="link"> Crear una aquí </a>
  </div>
</form>
