<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="nombreUsuario" class="form-label">Nombre de usuario:</label>
  <input
    type="text"
    class="form-control"
    id="nombreUsuario"
    formControlName="nombreUsuario"
    aria-describedby="nombreUsuario-help"
  />
  <div id="nombreUsuario-help" class="form-text m-0">
    Este aviso estará escondido
  </div>

  <label for="password" class="form-label" formControlName="contrasena"
    >Contraseña:</label
  >
  <input type="password" class="form-control" id="password" />

  <button type="submit" class="submit_button btn btn-primary w-100 mb-3">
    Iniciar Sesión
  </button>

  <div class="container-fluid text-center">
    <span class=""> ¿No tienes cuenta? </span>

    <a routerLink="/register" class="link"> Crear una aquí </a>
  </div>
</form>
