<app-navbarLogueado></app-navbarLogueado>
<div class="container-fluid">
  <div class="container mt-3">
    <!-- Botón para desplegar menú escondido -->
    <div class="col-12 my-3">
      <button
        class="btn btn-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"
        id="boton_menu"
      >
        Opciones
      </button>
    </div>
    <!-- Menú escondido -->
    <app-admin-menu tablaSeleccionada="tablaSeleccionada"></app-admin-menu>

    <div class="row mb-2">
      <div class="col">
        <div class="row">
          <form class="col" [formGroup]="registrosForm">
            <label class="col-form-label col me-2">N° registros: </label>
            <select
              name="col-sm-8 form-control"
              formControlName="registros"
              (change)="recargarUsuarios()"
            >
              <option value="10">10</option>
              <option value="20" selected>20</option>
              <option value="50">50</option>
            </select>
          </form>
        </div>
      </div>
      <div class="col d-flex justify-content-end">
        <form [formGroup]="busquedaForm">
          <div class="row">
            <label class="col-form-label col me-2 pe-0 label_buscar"
              >Buscar:
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="busqueda"
                (keyup)="buscarUsuario()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Tabla de usuarios o de plantillas -->
    <app-users-table
      *ngIf="tablaSeleccionada === 'users'; else tablaPlantillas"
    ></app-users-table>
    <ng-template #tablaPlantillas>
      <app-plantillas-table></app-plantillas-table>
    </ng-template>
  </div>
</div>
