button#boton_menu {
    margin-top: 20px;
    border: 0px;
    width: 120px;
    font-size: larger;
    font-weight: bold;
}

.label_buscar {
    text-align: end;
}

.a_funcional:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .label_buscar {
        text-align: start;
    }
}