<nav class="navbar navbar-expand-lg bg-light">
  <div class="container" id="navbar_container">
    <a class="navbar-brand navbar_link">
      <img src="assets/logo.png" alt="Logo ShrimPDF" height="75px">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav justify-content-end">
        <li class="nav-item me-3 navbar_link">
          <a id="btnLogin">
            <button class="btn btn-light fs-4" id="btnLogin">Login</button>
          </a>
        </li>
        <li class="nav-item me-3 navbar_link">
          <a>
            <button class="btn fs-4" id="btnRegister">Register</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand navbar_link">
      <img src="assets/logo.png" alt="Logo ShrimPDF" height="75px">
    </a>
    <div class="container-fluid navbarNav">
      <div class="row navbarNav justify-content-end">
        <div class="col-2 navCol">
          <a>
            <button class="btn btn-light fs-5 " id="btnLogin">Login</button>
          </a>
        </div>
        <div class="col-2 navCol">
          <a>
            <button class="btn fs-5" id="btnRegister">Register</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>-->
