<app-navbarLogueado></app-navbarLogueado>
<div class="container">
  <div class="row mt-5">
    <div class="col submit-form">
      <form>
        <label for="username">Username</label>
        <input type="text" class="form-control"/>

        <label for="email" class="mt-3">Email</label>
        <input type="text" class="form-control"/>

        <hr>

        <label for="password" class="mt-3">Password</label>
        <input type="text" class="form-control"/>

        <label for="new-password" class="mt-3">New Password</label>
        <input type="text" class="form-control"/>

        <button class="btn mt-3">Save Password</button>
      </form>
    </div>
  </div>
</div>
