.antes_exportar {
    width: 21cm;
    /*Le ponemos min-height por si tiene más de una página*/
    min-height: 29.7cm;
    padding: 2cm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
}

.exportar {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

/* #portada{
  width: 100%;
  height: 950px;
} */

img {
    margin-right: auto;
    margin-left: auto;
    max-width: 630px;

}

.unidades {
    float: left;
}


.item {
    text-align: center;
}

.precio {
    float: right;
}

.cabecera,
li {
    list-style: none;
}

@media (max-width: 870px) {
    .antes_exportar {
        width: 700px;
    }
}

@media (max-width: 750px) {
    .antes_exportar {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .antes_exportar {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .antes_exportar {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .antes_exportar {
        width: 300px;
    }
}